@page "/login"
@using Goke.Web.UI.Identity.Models
@inject IAccountManagement Acct
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        @if (errors)
        {
            @foreach (var error in errorList)
            {
                <div class="alert alert-danger">@error</div>
            }

            <button @onclick="OnBuyPin">Buy Pin</button>
        }
       
        <div class="card">
            <div class="card-body">
                    <div class="form-row">
                        <label for="email">Email</label>
                        <input autofocus autocomplete="on" required id="email" name="emailInput" placeholder="Enter your email address" type="email" @bind-value="email" />
                    </div>
                    <div class="form-row">
                        <label for="password">
                            Password:
                        </label>
                        <input required id="password" name="passwordInput" placeholder="Enter your password" type="password" @bind-value="password" />
                    </div>

                    <div class="form-row">
                        <div></div>
                        <div>
                            <button class="btn btn-primary" @onclick="OnLoginAsync">Login</button>
                        </div>
                    </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool success, errors;
    private string email = string.Empty;
    private string password = string.Empty;
    private string[] errorList = [];

    public async Task OnLoginAsync()
    {
        success = errors = false;
        errorList = [];

        if (string.IsNullOrWhiteSpace(email))
        {
            errors = true;
            errorList = ["Email is required."];

            return;
        }

        if (string.IsNullOrWhiteSpace(password))
        {
            errors = true;
            errorList = ["Password is required."];

            return;
        }

        var result = await Acct.LoginAsync(email, password);

        if (result.Succeeded)
        {
            success = true;
            email = password = string.Empty;
        }
        else
        {
            errors = true;
            errorList = result.ErrorList;
        }
    }

    private void OnBuyPin()
    {
        NavigationManager.NavigateTo("/buy-pin");
    }
}