@page "/register"
@using Goke.Web.UI.Identity.Models
@inject IAccountManagement Acct

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        @if (success)
        {
            <div class="alert alert-success">
                You successfully registered.
                @* <br />
                Please check your email to confirm your account.
                <br />
                Then *@ Please you can <a href="login">login</a>.
            </div>
        }
        else
        {
            if (errors)
            {
                foreach (var error in errorList)
                {
                    <div class="alert alert-danger">@error</div>
                }
            }

            <div class="card">
                <div class="card-body">
                    <div class="tab tabbox" style="--tab-height: 100%">
                        <ul class="tab-nav-wrapper">
                            <li class="tab-nav-item">
                                <label>
                                    <span class="tab-nav-header">
                                        User
                                    </span>
                                    <input type="radio" name="tabbox" checked>
                                </label>
                            </li>
                            <li class="tab-nav-item">
                                <label>
                                    <span class="tab-nav-header">
                                        Institution
                                    </span>
                                    <input type="radio" name="tabbox">
                                </label>
                            </li>
                            <li class="tab-nav-item">
                                <label>
                                    <span class="tab-nav-header">
                                        Admin
                                    </span>
                                    <input type="radio" name="tabbox">
                                </label>
                            </li>
                        </ul>
                        <div class="tab-pages-wrapper">
                            <div class="user | tab-page">
                                <div>
                                    <div class="form-row">
                                        <label for="email">Email</label>
                                        <input autofocus autocomplete="on" required id="email" name="emailInput" placeholder="Enter your email address" type="email" @bind-value="email" />
                                    </div>
                                    <div class="form-row">
                                        <label for="password">
                                            Password:
                                        </label>
                                        <input required id="password" name="passwordInput" placeholder="Enter your password" type="password" @bind-value="password" />
                                    </div>
                                    <div class="form-row">
                                        <label for="confirmPassword">
                                            Retype password:
                                        </label>
                                        <input required id="confirmPassword" name="confirmPasswordInput" placeholder="Re-enter your password" type="password" @bind-value="confirmPassword" />
                                    </div>
                                    <div class="form-row">
                                        <label for="code">Code</label>
                                        <input autofocus autocomplete="on" required id="code" name="codeInput" placeholder="Enter your code" type="text" @bind-value="code" />
                                    </div>

                                    <div class="form-row">
                                        <div></div>
                                        <div>
                                            <button class="primary" @onclick="OnRegisterAsync">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="institution | tab-page">
                                <div>
                                    <div class="form-row">
                                        <label for="email">Email</label>
                                        <input autofocus autocomplete="on" required id="email" name="emailInput" placeholder="Enter your email address" type="email" @bind-value="email" />
                                    </div>
                                    <div class="form-row">
                                        <label for="password">
                                            Password:
                                        </label>
                                        <input required id="password" name="passwordInput" placeholder="Enter your password" type="password" @bind-value="password" />
                                    </div>
                                    <div class="form-row">
                                        <label for="confirmPassword">
                                            Retype password:
                                        </label>
                                        <input required id="confirmPassword" name="confirmPasswordInput" placeholder="Re-enter your password" type="password" @bind-value="confirmPassword" />
                                    </div>
                                    <div class="form-row">
                                        <div></div>
                                        <div>
                                            <button class="primary" @onclick="OnRegisterAsync">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="admin | tab-page">
                                <div>
                                    <div class="form-row">
                                        <label for="email">Email</label>
                                        <input autofocus autocomplete="on" required id="email" name="emailInput" placeholder="Enter your email address" type="email" @bind-value="email" />
                                    </div>
                                    <div class="form-row">
                                        <label for="password">
                                            Password:
                                        </label>
                                        <input required id="password" name="passwordInput" placeholder="Enter your password" type="password" @bind-value="password" />
                                    </div>
                                    <div class="form-row">
                                        <label for="confirmPassword">
                                            Retype password:
                                        </label>
                                        <input required id="confirmPassword" name="confirmPasswordInput" placeholder="Re-enter your password" type="password" @bind-value="confirmPassword" />
                                    </div>
                                    <div class="form-row">
                                        <div></div>
                                        <div>
                                            <button class="primary" @onclick="OnRegisterAsync">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool success, errors;
    private string[] errorList = [];
    private string email = string.Empty;
    private string password = string.Empty;
    private string confirmPassword = string.Empty;
    private string code = string.Empty;

    public async Task OnRegisterAsync()
    {
        success = errors = false;
        errorList = [];

        if (string.IsNullOrWhiteSpace(email))
        {
            errors = true;
            errorList = ["Email is required."];

            return;
        }

        if (string.IsNullOrWhiteSpace(password))
        {
            errors = true;
            errorList = ["Password is required."];

            return;
        }

        if (string.IsNullOrWhiteSpace(confirmPassword))
        {
            errors = true;
            errorList = ["Please confirm your password."];

            return;
        }

        if (password != confirmPassword)
        {
            errors = true;
            errorList = ["Passwords don't match."];

            return;
        }

        var result = await Acct.RegisterAsync(email, password, code);

        if (result.Succeeded)
        {
            success = true;
            email = password = confirmPassword = string.Empty;
        }
        else
        {
            errors = true;
            errorList = result.ErrorList;
        }
    }
}