@page "/"

<PageTitle>Home</PageTitle>


<div style="display:flex; flex-direction:column; justify-content:center; align-items:center; height:100vh; ">
   
    <img src="soon-transparent.png" style="width:30vw;" />

</div>

