<div style="display:flex;align-items:center;gap:1em;">
    <label for="value">@Label</label>
    <input type="range" id="value" name="value"
           min="@Minimum" max="@Maximum"
           @bind:get="Value" @bind:set="SetValueAsync" />
    <span>@Value</span>
</div>
@code {
    [Parameter] public double Value { get; set; }
    [Parameter] public double Minimum { get; set; } = 0;
    [Parameter] public double Maximum { get; set; } = 10;
    [Parameter] public string? Label { get; set; }
    [Parameter] public EventCallback<double> OnChangeValue { get; set; }

    async Task SetValueAsync(double value)
    {
        Value = value;

        await OnChangeValue.InvokeAsync(value);

    }
}
