@page "/evirtuallab/report-titration"

@layout ReportLayout


<PageTitle>Report Titration</PageTitle>

<a href="/">home</a> / <a href="evirtuallab">evirtuallab</a> / report-titration

<h1>Titration Report</h1>


@code {

}
