@page "/evirtuallab"


<PageTitle>eVirtuallab</PageTitle>

<h1>eVirtuallab</h1>

<div style="display:flex; flex-wrap:wrap;">
    <a href="evirtuallab/titration">
        <div class="tile">
            Titration
        </div>
    </a>

    <a href="evirtuallab/cation">
        <div class="tile">
            Cation
        </div>
    </a>

    <a href="evirtuallab/water-of-crystallization">
        <div class="tile">
            Water of Crystallization
        </div>
    </a>

    <a href="evirtuallab/percent-purity">
        <div class="tile">
            Percent Purity
        </div>
    </a>

    <a href="evirtuallab/redox">
        <div class="tile">
            Redox
        </div>
    </a>

    <a href="evirtuallab/solubility">
        <div class="tile">
            Solubility
        </div>
    </a>

    <a href="evirtuallab/relative-atomic-mass">
        <div class="tile">
            Relative Atomic Mass
        </div>
    </a>

    <a href="evirtuallab/back-titration">
        <div class="tile">
            Back Titration
        </div>
    </a>

    <a href="evirtuallab/anion">
        <div class="tile">
            Anion
        </div>
    </a>
</div>

@code {

}
