@page "/sysadmin"

@attribute [Authorize(Roles = "SystemAdministrators")]
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

<PageTitle>System Admin</PageTitle>

<h1> Admin </h1>

<AuthorizeView>
    <p>Hello, @context.User.Identity?.Name! You're authenticated and you have an <b>Administrator</b> role claim, so you can see this .</p>
</AuthorizeView>

<h2>Claims</h2>

@if (claims.Any())
{
    <ul>
        @foreach (var claim in claims)
        {
            <li><b>@claim.Type:</b> @claim.Value</li>
        }
    </ul>
}

@code {
     IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    [CascadingParameter]
     Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthState == null)
        {
            return;
        }

        var authState = await AuthState;
        claims = authState.User.Claims;
    }
}