@page "/weatherapi"

@rendermode InteractiveWebAssembly

<PageTitle>WeatherAPI</PageTitle>

<h1>WeatherAPI</h1>

<p>This component demonstrates showing data.</p>

<MyWeather @rendermode="InteractiveWebAssembly" />

