@page "/bible"

<div class="remove-parent-padding">
    <div class="tab" style="--tab-height: 90vh">
        <ul class="tab-nav-wrapper">
            <li class="tab-nav-item">
                <label class="tab-page-controller-label">
                    <span>Bible</span>
                    <input type="radio" name="tab-page" id="tabpage1" class="tab-page-controller" checked>
                </label>
            </li>
            <li>
                <label class="tab-page-controller-label">
                    <span>Note</span>
                    <input type="radio" name="tab-page" id="tabpage2" class="tab-page-controller">
                </label>
            </li>
            <li>
                <label class="tab-page-controller-label">
                    <span>Parallel</span>
                    <input type="radio" name="tab-page" id="tabpage3" class="tab-page-controller">
                </label>
            </li>
        </ul>
        <div class="tab-pages-wrapper">
            <div class="tab-page pt-0" style="padding-top:0;">
                <BibleChapter />
            </div>

            <div class="tab-page">
                <BibleNote />
            </div>

            <div class="tab-page">
                <BibleParallel />
            </div>

        </div>
    </div>
</div>