
<aside class="drawer">
    <div class="drawer-wrapper" style="--icon-sz:3em;">
        <div class="drawer-controller">
            <span class="icon" style=" --_clr-icon-fg:var(--clr-text)">
            </span>
        </div>
        <div class="drawer-content">
            <DrawerNavMenu />
        </div>

    </div>
</aside>


