@inherits LayoutComponentBase

<section class="primary-layout flex">
    <section class="page">
        <main>
            <div class="wrapper flow">
                @Body
            </div>
        </main>
    </section>
</section>

